html {
    font-size: 10px;
}

body {
   font-size: 2rem;
   line-height: 150%;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   overflow-x: hidden;
   background-color: $color-bg;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}
