.keyboard__inner {
  padding: 10px;
  border-radius: 10px;
  background-color: $color-extra;
}

.keyboard__row {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-bottom: 10px;
 width: 100%;
 height: 60px;

  &:last-child {
  margin-bottom: 0;
  }
}

.keyboard__button {
  display: block;
  border: none;
  width: 55px;
  min-height: 55px;
  background-color: #3e3b3b;
  color: #fff;
  box-shadow: 5px 5px 10px #474343, -5px -5px 10px rgb(130, 125, 125);
  font-size: 20px;
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:active {
    background-color: $color-accent;
    color: #1c1c1c;
    box-shadow: 1px 1px 2px rgb(130, 125, 125), -1px -1px 2px $color-accent;
  }
}

.keyboard__button.keyboard__button-active {
  background-color: $color-accent;
  color: #1c1c1c;
  box-shadow: 1px 1px 2px rgb(130, 125, 125), -1px -1px 2px $color-accent;
  outline: none;
}

.keyboard__button.button-code-Space {
  width: 430px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.keyboard__button.button-code-Backspace {
  width: 115px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.keyboard__button.button-code-Tab {
  width: 85px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.keyboard__button.button-code-CapsLock {
  width: 100px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.keyboard__button.button-code-Enter {
  width: 135px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.keyboard__button.button-code-MetaLeft,
.keyboard__button.button-code-MetaRight {
  width: 82px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.keyboard__button.button-code-ShiftLeft,
.keyboard__button.button-code-ShiftRight {
  width: 150px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.keyboard__button.button-code-ControlLeft,
.keyboard__button.button-code-AltLeft,
.keyboard__button.button-code-AltRight {
  font-size: 1.5rem;
}

.button-code-ArrowRight {
  margin-right: 105px;
}